<p>You've been invited to following event</p>
<h2>{{ eventName }}</h2>
<p font-weight: bold;>Time</p>
<p>{{ startTime }} - {{ endTime }}</p>
<p font-weight: bold;>Event by</p>
<p>{{ requester }}</p>
<p>Please click below to accept the request</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>If you wish to deny the request, you can safely ignore it.</p>
